# Bytecode / cache
__pycache__/
*.py[cod]

# Virtual envs
.venv/
venv/

# OS/editor
.DS_Store
.vscode/

# Test/coverage caches
.pytest_cache/
.coverage
htmlcov/

# Local runtime data (adjust to your preference)
data/
data-stdlib/
data-test/