body {
    font-family: system-ui;
    font-size: 1.25rem;
    line-height: 1.5;
    background-color: #D9D9D9;
}

.header {
    display: flex;
    justify-content: center;
}

table {
    background-color: #B4C8AC;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    background-color: #B4C8AC;


}

.active {
    background-color: #F3F7DA;
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}

main {
    max-width: min(70ch, 100% - 4rem);
    margin-inline: auto;
}